.headerBox {
  margin: 0;
  padding: auto;
  font-size: 1.3rem;
  font-weight: 300;

  color: #eee;
  background: #009fff;
  background: -webkit-linear-gradient(to right, #ec2f4b, #009fff);
  background: linear-gradient(to right, #ec2f4b, #009fff);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.headerBox h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.link a {
  text-decoration: none;
  color: #eee;
}

.link a:hover {
  font-weight: 400;
}
